BASE_URL="http://172.20.3.113:7777/?ojr=login-form-main%3Bmodule%3Dwidgets%252Fpre-login"
BROWSER=chromium
HEADED=true

MAKER_USERNAME=corpmaker2
MAKER_PASSWORD=Admin@131

INVALID_USERNAME=wronguser
INVALID_PASSWORD=wrongpassword

PAYEE_ACCOUNT_NUMBER=1234567890123456
PAYEE_VALID_NICKNAME=TesterPayee
PAYEE_EMAIL=testerpayee@example.com
